*, :after, :before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.title {
    margin: 0;
}

.content-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 200px minmax(1400px, 1fr) 300px;
}

.content-container .header {
    background-color: hsl(216, 98%, 52%);
    color: hsl(0, 0%, 100%);
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container .header__navbar {
   flex-grow: 1;
}

.content-container .header .navbar-links {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 2rem;
    max-width: 800px;
    /*width: clamp(20px, 800px, 1000px);*/ /*Why the hell not work :( */
}

.content-container .main {
    background-color: hsl(162, 73%, 46%);
    color: hsl(0, 0%, 100%);
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content-container .main .main__scroll-to-top {
    top: 0;
    right: 20px;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.content-container .main .main__scroll-to-top .scroll-to-top__link {
    display: block;
    width: 50px;
    height: 50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    position: sticky;
    bottom: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}



.content-container .footer {
    background-color: hsl(45, 100%, 51%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}
